@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

html {
  font-family: var(--font-family-body), sans-serif;
}

body {
  margin: 0;
}

